article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2,
h1,
h3 {
    width: 100%;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

.imagen-post {
    width: 40%;
    height: auto;
    margin: 20px;
}

.post-fecha {
    font-style: italic;
    margin: 20px;
}

.post-leer-mas {
    color: var(--color-texto-resaltado);
    background-color: white;
    padding: 0 25px;
    border: 1px solid var(--color-texto-resaltado);
    font-size: 13px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 2px 2px 8px grey;
}

.enlace-blog,
span {
    width: 80%;
}

.post-leer-mas a {
    color: var(--color-texto-resaltado);
}

.post-leer-mas a:hover {
    color: white!important;
}

.post-leer-mas:hover {
    background-color: var(--color-texto-resaltado);
    color: white;
    border: 1px solid white;
}

.iconos-social {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(141, 138, 138, .5);
}

.iconos-social ul {
    width: 100%;
}

.iconos-social li {
    list-style: none;
    float: right;
}

.iconos-social .fa-facebook,
.iconos-social .fa-twitter,
.iconos-social .fa-linkedin {
    color: #333!important;
    font-size: 16px;
    margin: 20px 10px;
}

.iconos-social .fa-facebook:hover,
.iconos-social .fa-twitter:hover,
.iconos-social .fa-linkedin:hover {
    color: var(--color-texto-resaltado)!important;
}

iframe {
    margin: 30px;
}

.contenedor_textarea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.form_comentarios{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
label {
    margin: 20px;
    font-size: 16px;
}

#usuario {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em;
    outline: none;
}

.contenedor_textarea div {
    width: 90%;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 10px;
    resize: none;
    font-size: 1.5em;
}

.publicar {
    color: white;
    font-weight: bold;
    margin: auto;
}

.contenedor-listas h2 {
    text-align: left;
}

.negrita {
    font-weight: bold;
}

.contenedor_comentarios {
    width: 80%;
    height: 150px;
    margin: 10px;
    font-size: 1em;
    border: 1px solid rgb(141, 138, 138, .5);
    margin: 20px auto;
}
@media only screen and (max-width: 576px) {
    .contenedor_textarea, .contenedor_comentarios {
        width: 80%;

    }
    .contenedor_textarea #usuario{
        width: 100%;
    }

}