:root {
    --colorTextos: #49454567;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: mediumpurple;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#inicio {
    position: fixed;
    width: 100px;
    height: 85px;
    top: 90px;
    left: 75px;
    z-index: 2;
    background-image: url(../img/logo-mini.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#inicio a {
    width: 100px;
    height: 85px;
    padding: 50px;
    text-decoration: none;
    opacity: 0;
}

#inicio a:hover {
    cursor: pointer;
}

.background-animation-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: translateX(0%);
    z-index: 1;
    animation: backgroundtransform 50s ease infinite;
    /* gradient magic happens here */
    background: -moz-linear-gradient(-45deg, rgba(33, 165, 145, 0) 0%, rgba(33, 165, 145, 0) 34%, rgba(33, 165, 145, 1) 86%, rgba(33, 165, 145, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(33, 165, 145, 0)), color-stop(34%, rgba(33, 165, 145, 0)), color-stop(86%, rgba(33, 165, 145, 1)), color-stop(100%, rgba(33, 165, 145, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(33, 165, 145, 0) 0%, rgba(33, 165, 145, 0) 34%, rgba(33, 165, 145, 1) 86%, rgba(33, 165, 145, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(33, 165, 145, 0) 0%, rgba(33, 165, 145, 0) 34%, rgba(33, 165, 145, 1) 86%, rgba(33, 165, 145, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(33, 165, 145, 0) 0%, rgba(33, 165, 145, 0) 34%, rgba(33, 165, 145, 1) 86%, rgba(33, 165, 145, 1) 100%);
    /* IE10+ */
    background: linear-gradient(135deg, rgba(33, 165, 145, 0) 0%, rgba(33, 165, 145, 0) 34%, rgba(33, 165, 145, 1) 86%, rgba(33, 165, 145, 1) 100%);
    /* W3C */
}

form {
    opacity: 0;
    margin-top: 200px!important;
    z-index: 9999;
    transition: opacity 5s;
}

@keyframes backgroundtransform {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 30px;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

.separador {
    height: 51px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    border-bottom: 1px solid var(--colorTextos);
}

.error {
    border-color: red;
}

p {
    color: crimson;
    font-size: 14px;
    height: 14px;
}

.repite {
    margin-top: -28px!important;
}

input:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
.peque {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.visible,
.invisible {
    margin: 5px;
    width: 16px;
    height: 16px;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: width 0.3s ease;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

button {
    font-family: 'roboto';
    background: #4568DC;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #B06AB3;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    animation-name: sombra;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (max-width:1170px) {
    body {
        flex-direction: column !important;
        
    }
    form {
        width: 80% !important;
        margin-top: 50px!important;
    }
    #inicio {
        top: -15px;
        left: 10px;
        width: 50px;
        height: 44px;
        margin: 20px;
    }
}

#cerrar {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 130px;
    height: 40vh;
    z-index: 2;
}

#cerrar h1,
#cerrar span {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
    
}

#boton-cerrar {
    height: 60px;
    font-size: 24px;
}

@keyframes sombra {
    0% {
        box-shadow: 2px 2px 8px #B06AB3;
    }
    25% {
        box-shadow: 3px 3px 9px #B06AB3;
    }
    30% {
        box-shadow: 4px 4px 9px #B06AB3;
    }
    50% {
        box-shadow: 5px 5px 10px #B06AB3;
    }
    65% {
        box-shadow: 4px 4px 9px #B06AB3;
    }
    75% {
        box-shadow: 3px 3px 9spx #B06AB3;
    }
    100% {
        box-shadow: 2px 2px 8px #B06AB3;
    }
}