
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@300&display=swap');

:root {
    --color-secundario: rgb(246, 223, 252);
    --color-texto: #030303;
    --color-texto-resaltado: #c558d8;
    --color-fondo-botones: #d874de;
    --color-borde-botones: #d894de;
    --color-borde-botones-hover: #d874de;
    --color-sombra-botones-hover: #9e49ee;
    --color-fondo-botones2: #ff6179;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: contain;
    height: 100%;
    color: var(--color-texto);
    z-index: -1;
    
}

body, p, h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto);
}

.parrafo::first-letter {
    font-family: "Playfair Display";
    font-weight: 400;
    float: left;
    margin: 0px 12px 0 0;
    font-size: 80px;
    line-height: 65px;
    text-align: center;
}

h2, h3, h1 {
    font-family: 'Aclonica', sans-serif;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

/* ************************************************************************************ */


/* *****************NAVBAR SUPERIOR********************************* */

.contenedor_nav_cuenta {
    background-color: white;
    height: 38px;
}

#burguer {
    position: absolute;
    top:8px;
    left:250px;
    width: 24px;
    height: 24px;
    margin:0!important;
    z-index: 9999999;    
}
#burguer img {
    margin:0!important;
}

#burguer:hover {
    cursor: pointer;
}
.cuenta {
    height: 38px;
    width: 100vw;
}
.cuenta ul {
    float:right;
    top:-5px;
    background-color: white;
    padding:0;
    list-style: none;
    transition: all 1s;
}
.cuenta li {
    display:inline;
    margin:10px 15px;
    padding:10px 15px;
    text-align: center;
}

.cuenta a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

}

.cuenta a:hover {
    text-decoration: underline;
    color: var(--color-texto-resaltado);
}
.fondo_nav_superior {
    width: 100vw;
    height: 99vh;
    position:relative;
    top: -8px;
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.158);
    display: none; 
    z-index:99999;
} 

.cuenta_vertical {
    position:fixed!important;
    top:38px!important;
    left: 30%;
    display:flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    
    width: 250px;
    height: 300px;
    background-color: white!important;
    box-shadow: 2px 2px 8px rgb(187, 186, 186);
    transition: all 1s;
    z-index:999999;
    
}

.expandir {
    display:none;
    position:relative;
    height: 2px;
    
}
.expandir img {
    position:absolute;
    top:-40px;
    left:50%;
}

/* ******************************FIN NAVBAR SUPERIOR*************************************** */
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-between;
  }
  .flex {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* For mobile phones: */
  
  [class*="col-"] {
    width: 100%;
    padding: 10px;
  }
  
  /* mobiles */
  
  @media only screen and (min-width: 576px) {
    .col-s-1 {
      flex: 0 0 auto;
      width: 8.33%;
    }
    .col-s-2 {
      flex: 0 0 auto;
      width: 16.66%;
    }
    .col-s-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .col-s-4 {
      flex: 0 0 auto;
      width: 33.33%;
    }
    .col-s-5 {
      flex: 0 0 auto;
      width: 41.66%;
    }
    .col-s-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-s-7 {
      flex: 0 0 auto;
      width: 58.33%;
    }
    .col-s-8 {
      flex: 0 0 auto;
      width: 66.66%;
    }
    .col-s-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .col-s-10 {
      flex: 0 0 auto;
      width: 83.33%;
    }
    .col-s-11 {
      flex: 0 0 auto;
      width: 91.66%;
    }
    .col-s-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
  }
  
  
  
  /* tablets */
  
  @media only screen and (min-width: 768px) {
    .col-m-1 {
      flex: 0 0 auto;
      width: 8.33%;
    }
    .col-m-2 {
      flex: 0 0 auto;
      width: 16.66%;
    }
    .col-m-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .col-m-4 {
      flex: 0 0 auto;
      width: 33.33%;
    }
    .col-m-5 {
      flex: 0 0 auto;
      width: 41.66%;
    }
    .col-m-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-m-7 {
      flex: 0 0 auto;
      width: 58.33%;
    }
    .col-m-8 {
      flex: 0 0 auto;
      width: 66.66%;
    }
    .col-m-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .col-m-10 {
      flex: 0 0 auto;
      width: 83.33%;
    }
    .col-m-11 {
      flex: 0 0 auto;
      width: 91.66%;
    }
    .col-m-12 {
      flex: 0 0 auto;
      width: 100%;
    }
    
    
  
    header{
  
      height: 50vh!important;
    }
   
  }
  
  /* Mis responsives especiales */
  @media only screen and (max-width: 576px) {
    .footer-content {
      flex-direction: column!important;
      justify-content: center!important;
  
    }
    .social ul{
      display:flex!important;
      justify-content: center!important;
      flex-direction: row!important;
    }
  
    #priv{
     float:initial!important;
     margin:0 24%;
    }
    .copyright-info {
      float:initial!important;
      margin:0px 38%;
    }
    
    
  }
  
  @media only screen and (max-width: 695px) {
    /* ocultar menu navbar superior y añadir icono expandir */
  
    .cuenta ul {
      position:absolute;
      top:-200px!important;
    }
    .expandir, #flecha_abajo {
      display:block!important;
      z-index: 9;
    }
    
  }
  @media only screen and (max-width: 768px) {
    .slide-container, .slider {
      height: 200px!important;
    }
   
    header {
      height: 40vh!important;
    }
  }
  
  @media only screen and (max-width: 992px) {
  
    .slide-container, .slider {
      height: 250px!important;
    }
  
    .enlaces_comp button, .botones_comp {
      padding: 10px;
      margin: 5px 5px!important;
    }
    
    .enlaces_comp {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    #burguer {
      left:50px!important;
    }
    #icon-search {
      left:90px!important;
    }
  
    
    /* colapsar navbar principal */
  
    .navbar {
      display:none;
      
    }
    #colapsar {
      top:33px;
      
    }
    #colapsar img {
      width: 24px;
      display:block!important;
    }
   
  }
  @media only screen and (max-width: 1200px) {
    .slide-container, .slider {
      height: 350px!important;
    }
  
  }
  