* {
    box-sizing: border-box;
    margin:0;
}

/* footer abajo */
html, body {
    height: 100%;
}

/* footer abajo */
body {
    display:flex;
    flex-direction: column;
    padding:20px;
}


header {
    height: 100px;
    background-color: turquoise;
    display:flex;
    justify-content: center;
    
}

header ul {
    padding:0;
    display:flex;
    
}

header li {
    list-style: none;
    margin: 37px;   
}

header a {
    border: 1px solid violet;
    border-radius:3px;
    padding:5px 10px;
    background-color: violet;
    box-shadow: 1px 3px 8px grey;
    color:whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    box-shadow: 4px 7px 8px grey;
}

/* footer abajo */
main {
    flex-grow:1;
    padding: 15px 0;
    display:flex;
    
} 

aside {
    width: 25%;
    background-color:cornsilk;
}

#aside1   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    width: 60%;
    background-color: coral;
    margin: 0 10px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

section article {
    width: 35%;
    height: 100px;
    background-color: thistle;
    margin:10px;
}

#aside2 {
    background-image: url(imagen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

footer {
    height: 100px;
    background-color:turquoise;
    display:flex;
    justify-content: center;
    align-items: center;

}