@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin:0; 
}

/* Footer abajo */
body, html {
    height: 100%;
}

/* Footer abajo */
body {
    display:flex;
    flex-direction:column;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: bold;
    /* flex-shrink: 3; */
    
}

/* ----------------------Header------------------------------- */
header {
    height: 60px;
    display:flex;
    justify-content: space-between;
    margin: 5px 10px;
       
}

header ul {
    display:flex;
    align-items: center;
    padding-left: 0;
}

header li {
    list-style: none;
    padding:10px;
}

header a {
    text-decoration: none;
    color:#222;
    font-family: arial,sans-serif;
    font-size:14px;
    font-weight: lighter;
}

header a:hover {
    text-decoration: underline;
}

header img {
    margin-top: 3px; 
}
header img:hover {
    cursor: pointer;
}    

#sesion {
    border:1px solid transparent;
    border-radius: 3px;
    background-color: #1a73e8;
    color:white;
    padding: 9px 23px;
    margin-right: 10px;
    
}

#sesion:hover {
    background-color: #2b7de9;
    text-decoration: none;

}

/* para colocar la imagen de las apps */
#apps {
    display:flex;
    flex-shrink: 10;
    flex-grow:1;
    
}
#img_apps {
    visibility:hidden;
    width: 200px;
    position: relative;
    left:15%;
    top: -6px;
}


/* -------------------------Main-------------------------- */

/* Footer abajo */
main {
    display:flex; 
    flex-grow: 1;
    background-color: white;
    justify-content: center;
        
}


/* -------------------------Section-------------------------- */
/* Section contiene un div */

section {
    width: 50%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    background-color: white;

}

/* Contiene un logo, un input y dos nav */

section div {
    display:flex;
    justify-content: center;
    flex-direction:column;
    flex-wrap: wrap;
        
}

#logo {
    width: 287px;
    margin: auto 175px;
}

/* Corresponte a la caja envolvente del input */

#caja_input {
    margin:  40px auto;
    width: 600px;
    border:1px solid  rgba(192, 189, 189, 0.514);
    padding: 10px 15px;
    border-radius: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#caja_input:hover {
    box-shadow: 1px 1px 5px rgba(192, 189, 189, 0.753);
}

input {
    display:block;
    display:flex;
    margin:auto;
    width: 88%;
    font-size: 20px;
    border: none;
    
    /* quita el borde automático cuanto tiene el foco, es decir cuando el cursor está activo */
    outline:0;

}

/* Corresponde al primer nav. Tiene dos enlaces como botones */

#botones {
    display:flex;
    justify-content: center;
}

#botones ul {
    display:flex;
    padding-left: 0;
}

#botones li {
    list-style: none;
    
}

#botones a {
    text-decoration: none;
    border:1px solid white;
    border-radius: 4px;
    background-color: rgb(240, 238, 238);
    color:black;
    padding: 10px 20px;
    margin-right: 10px;
}

#botones a:hover {
    border: 1px solid rgb(201,201,201)
}

/* Corresponde al segundo nav. Contiene un p y 3 enlaces. Este nav sería mejor ponerlo como div ya que en realidad no es un menú de navegación sino de acciones, ya que los enlaces solo traducen la página  */

#idiomas {
    padding:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#idiomas ul {
    
    display:flex;
    padding:1px;

}

#idiomas li {
    list-style: none;
    padding:5px;
}

#idiomas a {
    text-decoration: none;
    color:blue;
}

#idiomas a:hover {
    text-decoration: underline;
} 

/*-----------------------------footer---------------------  */

footer {
    color:rgba(0,0,0,.54);
    background-color: #f2f2f2;
    display:flex;
    flex-direction: column;
}

footer div { 
    height: 40px;
    border-bottom: 1px solid #dadce0; 
}

footer h3 {
    margin: 10px 15px;
}

#foot {
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

#foot ul {
    display:flex;
    padding:1px;
}

#foot li {
    list-style: none;
    padding:5px;
}

#foot a {
    text-decoration: none;
    padding: 5px 12px;
    color:rgba(0,0,0,.54);
    font-size: 1.10em;
}

#foot a:hover {
    text-decoration: underline;
}

#hoja_emi {
    display:flex;
    align-items: center;
}

#hoja_emi a{
    padding:0;
}

/* ----------------------------------FIN------------------------------- */