#tit1 {
    color:blue;
    text-align: center;

}

ul {
    list-style-type:georgian;
}

h3, p {
    text-align:justify;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(243, 8, 172);
}

.caja p {
    color:darkgreen;
    text-align: center;
}
footer p {
    color:darkgoldenrod
}