@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin:0;
}


/* Footer abajo */
body, html {
    height: 100%;
   
}

/* Footer abajo */
body {
    display:flex;
    flex-direction:column;
    font-family: 'Oswald', sans-serif;
}

/* ---------------header--------------------------- */
header {
    height: 100px;
    display:flex;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
}

header div {
    width: 52%;
    display:flex;
    justify-content: flex-end;
}
header img {
    width: 100px;
} 

nav {
    margin:40px;
}

ul {
    display:flex;
}

header a {
    text-decoration:none;
    border: 1px solid black;
    border-radius: 4px;
    padding:8px 15px;
    margin: 20px;
    color:black;
    box-shadow: 1px 3px 8px grey;
}

header a:hover {
    background-color: black;
    color:white;
}

header li {
    list-style: none;
}

/* --------------------Main------------------------- */
main {
    flex-wrap: wrap;
    display:flex;  /* footer abajo */
    flex-grow: 1; /* footer abajo */
    justify-content: space-around;
}

/* ---------------Section arriba-------------------- */

#section_arriba {
    width: 100%;
    height: 550px;
    background-color: black;
    display:flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}


/* ---------------Section div izquierda------------- */
#sec_iz {
    width: 50%;
    background-color: black;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#sec_iz img {
    width: 15%;
    
}

#sec_iz div {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 40px;
}
#sec_iz h1 {
    font-size: 90px;
}

#sec_iz h3 {
    font-size: 60px;
}

/* ---------------Section div derecha------------- */

#sec_de {
    width: 50%;
    background-color: black;
    display:flex;
    justify-content: center;
    
}


/* ---------------Sección abajo------------- */

#opciones {
    width:70%;
    display:flex;
    justify-content: space-between;    
    background-color: rgb(236, 235, 235);
    flex-wrap: wrap;
}

#opciones nav {
    display:flex;
    width: 50%;
    margin:0;
       
}

#nav_de {
    width: 50%;
    display:flex;
    justify-content:flex-end;
}
#opciones ul {
    padding-left:5px;
    display:flex;
    justify-content: space-between;
}

#opciones li {
    list-style: none;
}

#opciones a {
    text-decoration: none;
    color:black;
    font-style: italic;
    margin:10px;
    padding:5px;
}

#opciones a:hover {
    text-decoration: underline;
    
}

#opciones article {
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 2px 6px 8px grey;
    margin:10px;
}

#opciones article:hover {
    box-shadow: 4px 10px 9px grey;
}

#opciones img {
    width: 100%;
}

#opciones h5 {
    margin:5px; 
}

/* ------------------footer----------------------- */

footer {
    height: 100px;
    padding:20px;
    background-color: black;
}
footer ul {
    display:flex;
    flex-direction: column;
}

footer li {
    list-style: none;
    display:flex;
    flex-direction:column;
}
footer a {
    display:flex;
    flex-direction:column;
    color:white;
    text-decoration: none;
    line-height: 2;
}

footer a:hover {
    text-decoration: underline;
}