* {
    box-sizing: border-box;
}
.contenedor {

    width: 75%;
    margin:auto;
    border: 2px solid black;
    padding: 20px;
}

.caja {
    width: 200px;
    height: 200px;
    background-color: cyan;
    border: 1px solid black;
    
    /* 3 tipos de display */
    /* block: por defecto los div van en bloque */
    
    /* inline: convierte bloque en linea. El elemento ocupa su contenido. No respeta las propiedades de redimensionamiento */
    
    /* display:inline; */
    
    /* igual que inline, pero respeta las propiedades de redimensionamiento */
    
    display:inline-block;

}

/* Las etiquetas a para el SEO tienen que ir en una lista ul (siempre que haya varias) */
